global
		log 127.0.0.1 local0
		log 127.0.0.1 local1 notice
		log-send-hostname

    daemon
    maxconn 256

defaults
		log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
		reqadd X-Forwarded-Proto:\ http
    default_backend servers

backend servers
		server sluice_sluice_1 sluice_sluice_1:8080 check inter 2000 rise 2 fall 3 redir 0.0.0.0:8080/auth
		
